
/*---------------------------------------------------------------------------------------------*/
/*-------HOME LARGE----------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
@font-face {
  font-family: FugazOne-Regular;
  src: url(../assets/PuppyAssets/FugazOne-Regular.ttf);
}
@font-face {
  font-family: Montauk-Regular;
  src: url(../assets/PuppyAssets/Montauk-Regular.otf);
}
h1{
  font-family: FugazOne-Regular;
}
.homeHeroImage{
  background-image: url(/assets/PuppyAssets/RestaurantMockupFiles/assets/homeHero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 400px;
  width: 100%;
}
.homeSingleImageLarge{
  background-image: url(/assets/PuppyAssets/RestaurantMockupFiles/assets/homeSingle.jpg);
  background-repeat:no-repeat ;
  background-size: contain;
  position: relative;
  height: 400px;
}
.homeTextBoxLarge{
  background-color: white;
  margin-left: 20px;
  padding-bottom: 37px;
  padding-top: 13px;
  padding-left: 40px;
  padding-right: 80px;
  text-align: justify;
  font-family: Montauk-Regular;
  font-size: 14px;
  line-height: normal;
  
}
.homeMainContentLarge{
  margin-top: 100px;
  
  margin-left: 60px;
  margin-right: 80px;
}
.homeImageLarge{
  margin-left: 20px;
  height: 155px;
  width: 736px;
}
/*---------------------------------------------------------------------------------------------*/
/*-------HOME MEDIUM---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
.homeSingleImageMedium{
  background-image: url(../assets/PuppyAssets/RestaurantMockupFiles/assets/homeSingle.jpg);
  background-repeat:no-repeat ;
  background-size: cover;
  background-position: center;
  height: 272.44px;
}
.homeMainContentMedium{
  margin-top: 50px;
  font-family: Montauk-Regular;
}
.homeTextBoxMedium{
  background-color: white;
  font-size: 16px;
  text-align: justify;
  margin-left: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 54.4px;
  margin-bottom: 40px;
  line-height: normal;
}
.h1Medium{
  font-size: 25px;
}
.homeImageMedium{
  padding: 0px;
}
/*--------------------------------------------------------------------*/
/*-------HOME SMALL---------------------------------------------------*/
/*--------------------------------------------------------------------*/
.homeTextBoxSmall{
  background-color: white;
  font-family: Montauk-Regular;
  line-height: normal;
  margin-top: 50px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 10px;
  padding-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
}
.homeImageSmall{
  height: 120px;
  margin-top: 20px;
}

/*---------------------------------------------------------------------------------------------*/
/*-------PHOTOS LARGE--------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
.photoImagesAll{
  background-color: white;
  width: 320px;
  padding: 10px;

}
.photoMargins{
  margin-top: 10px;
}
/*---------------------------------------------------------------------------------------------*/
/*-------PHOTOS MEDIUM--------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
.photoImagesAllMedium{
  background-color: white;
  padding: 8px;
  width: 225px;
}
.photoMarginsMedium{
  margin-top: 10px;
}
/*---------------------------------------------------------------------------------------------*/
/*-------PHOTOS SMALL--------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
.photoImagesAllSmall{
  background-color: white;
  padding: 5px;
  width: 170px;
}
.photoMarginisSMall{
  margin-top: 6px;
}



