@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Fugaz+One&family=Poor+Story&family=Source+Sans+Pro&family=Space+Mono&display=swap');

@font-face {
    font-family: Montauk-Bold;
    src: url(../assets/PuppyAssets/Montauk-Bold.otf);
}

@font-face {
    font-family: Montauk-Italic;
    src: url(../assets/PuppyAssets/Montauk-Italic.otf);
}

@font-face {
    font-family: Montauk-Light;
    src: url(../assets/PuppyAssets/Montauk-Light.otf);
}

@font-face {
    font-family: Montauk-Regular;
    src: url(../assets/PuppyAssets/Montauk-Regular.otf);
}

/* BEGIN global selectors */
body {
    background-image: url(../assets/PuppyAssets/RestaurantMockupFiles/assets/bgtexture.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-attachment: scroll;
}

.brown-txt-color {
    color: #5F002B;
}

.bold-font {
    font-family: Montauk-Bold;
    font-weight: bold;
}

.italic-font {
    font-family: Montauk-Italic;
    font-style: italic;
}

.light-font {
    font-family: Montauk-Light;
    font-weight: lighter;
}

.regular-font {
    font-family: Montauk-Regular;
    font-style: normal;
}

.fugaz-font {
    font-family: 'Fugaz One', cursive;
}

.nav-container {
    width: 100%;
    padding: 0;
}

.nav-link-container {
    gap: 4rem;
    display: flex;
    font-size: 1.25rem;
    justify-content: end;
    margin-right: 1rem;
    padding-top: 1rem;
}

.nav-logo {
    min-width: 250px;
    height: auto;
    display: flex;
    justify-content: start;
    margin-left: 2rem;
}

.title-bar {
    background-color: white;
    font-size: 3.125rem;
    height: auto;
}

.tablet-title-bar {
    background-color: white;
    height: 3.5rem;
    font-size: 2rem;
    max-width: 32.4rem;
}

.carousel-btn-left {
    background-color: #5F002B;
    height: 3rem;
    width: 3rem;
    opacity: .7;
    margin-top: 11rem;
    margin-left: 3.5rem;
    border-radius: 2rem;
}

.carousel-btn-right {
    background-color: #5F002B;
    height: 3rem;
    width: 3rem;
    opacity: .7;
    margin-top: 11rem;
    margin-right: 3.5rem;
    border-radius: 2rem;
}

.tablet-logo-img {
    max-width: 10rem;
    height: auto;
}

.footer-logo {
    width: 100px;
    max-height: auto;
}

.tablet-footer-logo {
    width: 100px;
    max-height: auto;
}

hr {
    background-color: #980051;
    border: none;
    height: 1px;
    width: 95%;
}

/* END global selectors */

/* BEGIN Pedro's CSS */

/* BEGIN menu CSS */
.menu-card {
    height: auto;
    border: none;
    border-radius: 0px;
}

.menu-card-container {
    margin-left: 4rem;
}

.menu-img {
    border-radius: 0px;
}

.card-title {
    margin-left: .7rem;
}

.tablet-card {
    width: 70%;
}

.title-mobile {
    background-color: white;
    width: 100%;
}

/* END menu CSS */

/* BEGIN media queries */

@media (max-width: 768px) {
    .menu-card-container {
        display: none;
    }

    .nav-container {
        display: none;
    }
}

@media (max-width: 390px) {

    .tablet-screen,
    .navbar,
    .carousel,
    .tablet-footer {
        display: none;
    }

    .mobile-nav {
        display: block;
    }

    .laptop-screen {
        display: none !important;
    }

    .tablet-title-bar {
        display: none;
    }
}

/* END media queries */

/* END Pedro's CSS */