@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Fugaz+One&family=Poor+Story&family=Source+Sans+Pro&family=Space+Mono&display=swap');

@font-face {
    font-family: Montauk-Bold;
    src: url(../assets/PuppyAssets/Montauk-Bold.otf);
}

@font-face {
    font-family: Montauk-Italic;
    src: url(../assets/PuppyAssets/Montauk-Italic.otf);
}

@font-face {
    font-family: Montauk-Light;
    src: url(../assets/PuppyAssets/Montauk-Light.otf);
}

@font-face {
    font-family: Montauk-Regular;
    src: url(../assets/PuppyAssets/Montauk-Regular.otf);
}

/* BEGIN global selectors */
body {
    background-image: url(../assets/PuppyAssets/RestaurantMockupFiles/assets/bgtexture.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-attachment: scroll;
}

.brown-txt-color {
    color: #5F002B;
}

.bold-font {
    font-family: Montauk-Bold;
    font-weight: bold;
}

.italic-font {
    font-family: Montauk-Italic;
    font-style: italic;
}

.light-font {
    font-family: Montauk-Light;
    font-weight: lighter;
}

.regular-font {
    font-family: Montauk-Regular;
    font-style: normal;
}

.fugaz-font {
    font-family: 'Fugaz One', cursive;
}

.nav-container {
    width: 100%;
    padding: 0;
}

.nav-link-container {
    gap: 4rem;
    display: flex;
    font-size: 1.25rem;
    justify-content: end;
    margin-right: 1rem;
    padding-top: 1rem;
}

.nav-logo {
    min-width: 250px;
    height: auto;
    display: flex;
    justify-content: start;
    margin-left: 2rem;
}

.title-bar {
    background-color: white;
    font-size: 3.125rem;
    height: auto;
}

.tablet-title-bar {
    background-color: white;
    height: 3.5rem;
    font-size: 2rem;
    max-width: 32.4rem;
}

.carousel-btn-left {
    background-color: #5F002B;
    height: 3rem;
    width: 3rem;
    opacity: .7;
    margin-top: 11rem;
    margin-left: 3.5rem;
    border-radius: 2rem;
}


.tablet-logo-img {
    max-width: 10rem;
    height: auto;
}

.footer-logo {
    width: 100px;
    max-height: auto;
}

.tablet-footer-logo {
    width: 100px;
    max-height: auto;
}

hr {
    background-color: #980051;
    border: none;
    height: 1px;
    width: 95%;
}



.bg-img {
    background-image: url("../assets/PuppyAssets/RestaurantMockupFiles/assets/bgtexture.jpg");
}

.about-header {
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

.about-header-img {
    background-image: url("../assets/PuppyAssets/RestaurantMockupFiles/assets/AboutMain.jpg");
    background-size: cover;
    height: auto;
    width: 33.33%;
}

.about-header-bg {
    background-color: white;
    width: 65%;
    padding: 16px;
}

.about-header-text {
    font-family: Montauk-Bold;
}

.about-header-paragraph {
    font-size: 13px;
    font-family: Montauk-Regular;
}

.drew-container {
    padding: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.our-team {
    padding: 12px;
}

.our-team-banner {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: white;
}

.our-team-text {
    margin: 0;
    font-family: Montauk-Bold;
}

.our-team-row {
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

.our-team-card {
    padding: 0;
    border-radius: 0;
    margin-bottom: 10px;
    width: 33%;
}

.card-img-top {
    border-radius: 0;
}

.our-team-card-title {
    font-family: Montauk-Bold;
}

.our-team-card-title {
    font-family: Montauk-Regular;
}

.catering-header-img {
    width: 100%;
    height: auto;
}

.catering-main {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    height: min-content;
    
}

.catering-main-img {
    width: 33vw;
    padding: 0;
}

.catering-main-bg {
    background-color: white;
    width: 57vw;
    height: fit-content;
    padding: 16px;
    padding-left: 40px;
    padding-right: 40px;
}

.catering-main-paragraph {
    font-size: x-small;
}

.catering-images {
    display: flex;
    margin: 0;
    justify-content: space-between;
}

.catering-img {
    width: 32%;
    padding: 0;
}



@media (max-width: 768px) {
    .menu-card-container {
        display: none;
    }

    .about-header {
        display: block;
    }

    .about-header-img {
        width: 100%;
        height: 40rem;
        
    }

    .about-header-bg {
        width: 100%;
    }

    .catering-main-img {
        display: none;
    }

    .catering-main-bg {
        display: block;
        width: 100vw;
    }
}

@media (max-width: 425px) {
    .container {
        margin-left: 12px;
        margin-right: 12px;
    }

    .about-header-img {
        min-height: 15rem;
        width: 100vw;
        height: auto;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-bottom: 5px;
    }
}